asgiref
Django
openai-whisper @ git+https://github.com/openai/whisper.git@fcfeaf1b61994c071bba62da47d7846933576ac9
psycopg
psycopg2-binary
six
sqlparse
typing_extensions
whisper
torch
torchaudio
torchvision