asgiref==3.7.2
Django==4.2.7
openai-whisper @ git+https://github.com/openai/whisper.git@fcfeaf1b61994c071bba62da47d7846933576ac9
psycopg==3.1.12
psycopg2-binary==2.9.9
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
whisper==1.1.10